/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #33cdd4;
  --ifm-color-primary-dark: #009ba3;
  --ifm-color-primary-darker: #009ba3;
  --ifm-color-primary-darkest: #009ba3;
  --ifm-color-primary-light: #75ffff;
  --ifm-color-primary-lighter: #75ffff;
  --ifm-color-primary-lightest: #75ffff;
  --ifm-code-font-size: 95%;
  --ifm-footer-padding-vertical: calc(var(--ifm-spacing-vertical) * 1.1);
}

.docusaurus-highlight-code-line {
  background-color: #e9c622;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

h1,h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
  color: #3f4146;
}

h1{
  font-size: 2.1rem !important;
}

h2{
  font-size: 1.80rem !important;
}

h3{
  font-size: 1.5rem !important;
}

h4{
  font-size: 1.4rem !important;
}

h5{
  font-size: 1.25rem !important;
}

img[alt=playstore] { height: 4rem }
img[alt=Credenciales] { display: block; margin: auto; height: 20rem }
img[alt=Descentralizado] { display: block; margin: auto; }
